body {
  background-color: black;
  background-image: radial-gradient(
    rgba(0, 0, 150, 0.75), black 120%
  );
  height: 100vh;
  color: white;
  font: 1.3rem Inconsolata, monospace;
  text-shadow: 0 0 5px #C8C8C8;
  text-align: center;
}
div {
  border: 5px outset white;
  text-align: left;
  display: table;
  margin: 0 auto;
}
::selection {
  background: #0080FF;
  text-shadow: none;
}
a:hover {
  color: white;
  text-decoration: underline !important;
}
a:link {
  color: white;
  text-decoration: underline;
}

a:visited {
  color: white;
  text-decoration: none;
}

#back{
  color: white;
  text-decoration: none;
}
